<% layout('/layouts/appBoilerplate') %>


<% for(let i=0; i<20; i++){ %> 

<div class="card mb-5">
    <div class="card-body">
        유저네임
    </div>
    이미지
    <div class="card-body ">
        게시글
    </div>
</div>

<% } %> 
