<footer class= "footer bg-white py-3 mt-auto">
        <span class="text-muted"><a class="text-muted aNo" href="">github</a> <a class="text-muted aNo" href="">blog</a> <a class="text-muted aNo" href="">채용</a> &copy; 2021 remotto from morethanmin</span>

</footer>