.content{
    max-width: 600px;
    padding: 0;
}

.likeBtn,.messegeBtn {
    background-color: white;
    border: 0;
    outline: 0;
}

.likeBtn:focus,.messegeBtn:focus{ 	
    border: none;
    outline:none;
    }

.profile {
    width: 40px;
    border-radius: 50%;
    border: 2px solid #cccccc;
    margin: 0px 20px 0px 10px;
}

.profileImg{
    width: 150px;
}

.newImgBox{
    border: 1px solid #cccccc;
    /* margin: 60px; */
    width: 300px;
    height: 300px;
}