<% layout('/layouts/userBoilerplate') %>


<div class="card mb-5">
    <!-- <img src="https://unsplash.com/photos/ZZOE6-vVrRM/download?force=true&w=2400" alt="" srcset="">
    <div class="card-body">
        <h1>당신도 Remotto족이 되어보세요.</h1>
    </div> -->
</div>

<div class="card">
<div class="card-body">
    <!-- <h5 class="card-title">Login</h5> -->
    <form action="/login" method="POST" class="validated-form" novalidate>
        <div class="mb-3">
            <label class="form-label" for="username">아이디</label>
            <input class="form-control" type="text" id="username" name="username" autofocus required>
        </div>
        <div class="mb-3">
            <label class="form-label" for="password">비밀번호</label>
            <input class="form-control" type="password" id="password" name="password" required>
        </div>
        <div class="mb-3">
            <!-- <a href="" >아이디, 비밀번호를 모르겠어요.</a> -->
            <a href="register" >회원가입</a>
        </div>
        <button class="btn btn-success btn-block">로그인</button>
    </form>
    
</div>
</div>