<% layout('/layouts/appBoilerplate') %>



<div class="card">
    
    <div class="card-body">
        <img src="<%= currentUser.image.url %> " alt="" srcset="">
        <div class="">아이디 : <%= currentUser.username %> </div>
        <div class="">이메일 : <%= currentUser.email %> </div>
        <form action="/logout" method="POST" class="validated-form" novalidate>
            <button class="btn btn-danger btn-block">logout</button>
        </form>
    </div>
    
</div>

