<% layout('/layouts/appBoilerplate') %>



<div class="card">
    
    <div class="card-body align-items-center">
        <img class=" profileImg col" src="<%= user.image.url %> " alt="" srcset="">
        <div class="col">아이디 : <%= user.username %> </div>
        <div class="col">이메일 : <%= user.email %> </div>
        <form action="/logout" method="POST" class="validated-form" novalidate>
            <button class="btn btn-danger btn-block">로그아웃</button>
        </form>
    </div>
    
</div>

