<% layout('/layouts/appBoilerplate') %>



<div class="card">
    
    <div class="card-body">
        <img class=" profileImg col" src="<%= user.image.url %> " alt="" srcset="">
        <div class="col">아이디 : <%= user.username %> </div>
        <div class="col">이메일 : <%= user.email %> </div>
        
    </div>
    <hr>
    <!-- <p>게시물</p> -->
    <div class="row m-0">
        <% for(let userArticle of userArticles) { %>
            <div class="col-4 m-0 p-0 profileArticleImgBox">
            <img class="profileArticleImg" src="<%= userArticle.image.url %> " alt="" srcset="">
        </div>
            <% } %>  
    </div>
</div>

